extends layout

block content
  .container.fill
    .view#findPottyView
      .findView.row#mapView
        #mapCanvas
      .findView#listView
        .entry
          .rating 5
          p.address 69 Brown Street
          p.dist 0.2 mi
        .entry
          .rating 5
          p.address 69 Brown Street
          p.dist 0.2 mi
        .entry
          .rating 5
          p.address 69 Brown Street
          p.dist 0.2 mi
      .row#toggleView
          .toggleBtn.btn.btn-primary.active#mapBtn Map
          .toggleBtn.btn.btn-primary#listBtn List
    .view#detailView
    .view#addNewView
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(type="text/javascript" src="js/bootstrap.min.js")
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsPkG9N-Ip2foqVhbZYivMeZlCPHI4eEE&sensor=true")
  script(type="text/javascript" src="js/ourapp.js")