extends layout

block content
  .navbar.navbar-default.navbar-fixed-top
    button.btn.btn-info.btn-default.navbar-btn#atBathroom I'm at a bathroom
    a.navbar-brand.title PottyTime  
  .container.fill
    .view#findPottyView
      .findView.row#mapView
        #mapCanvas
      .findView#listView
        .entry
          .rating 5
          p.address 69 Brown Street
          p.dist 0.2 mi
        .entry
          .rating 5
          p.address 69 Brown Street
          p.dist 0.2 mi
        .entry
          .rating 5
          p.address 69 Brown Street
          p.dist 0.2 mi
      .row#toggleView
          .findViewToggle.btn.btn-primary.active#mapBtn Map
          .findViewToggle.btn.btn-primary#listBtn List
    .view#detailView
      #address 123 Fake St
      #description Starbucks
      #distance 0.7 mi away
      #info
        .col-xs-6#accesibility Public
        .col-xs-6#occupancy Single Occupancy
      #rating 
        .col-xs-6#stars 3.2 Stars
        .col-xs-6#numratings 5 Ratings
      .btn.btn-block.btn-primary Add your review
      #reviewcontent OMG I LUV POTTY
    .view#addNewView
      form#newPottyForm
        #title Submit a New Potty
        input.form-control#addressEntry(value="Address (i.e. 53rd St & 3rd Ave)")
        input.form-control#descriptionEntry(value="Description (i.e. Starbucks)")
        #accesibility
            .toggleBtn.btn.btn-primary.active#pubBtn Public
            .toggleBtn.btn.btn-primary#priBtn Customers Only
        #occupancy
            .toggleBtn.btn.btn-primary.active#singleBtn Single
            .toggleBtn.btn.btn-primary#multipleBtn Multiple
        #rating-text Rating & Review (optional):
        .row#stars
            .toggleBtn.ratingBtn.btn.btn-primary#oneBtn 1
            .toggleBtn.ratingBtn.btn.btn-primary#twoBtn 2
            .toggleBtn.ratingBtn.btn.btn-primary.active#threeBtn 3
            .toggleBtn.ratingBtn.btn.btn-primary#fourBtn 4
            .toggleBtn.ratingBtn.btn.btn-primary#fiveBtn 5
        textarea.form-control#review
        button.btn.btn-block.btn-primary#submitBtn(type="submit") Submit
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(type="text/javascript" src="js/bootstrap.min.js")
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsPkG9N-Ip2foqVhbZYivMeZlCPHI4eEE&sensor=true")
  script(type="text/javascript" src="/socket.io/socket.io.js")
  script(type="text/javascript" src="js/client.js")