extends layout

block content
  .container
    .view#findPottyView
      .findView#mapView
      .findView#listView
      .row#toggleView(data-toggle="buttons")
        .col-xs-6.toggleBtn.btn.btn-primary#mapBtn Map
        .col-xs-6.toggleBtn.btn.btn-primary#listBtn List
    .view#detailView
    .view#addNewView
  script(type="text/javascript" src="js/bootstrap.min.js")